In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.chdir('D:\Dataset')

In [3]:
dataset = pd.read_csv("iris_flowers.csv")

In [4]:
dataset.head()

   sepal_length  sepal_width  petal_length   petal_width        class
0           5.1          3.5           1.4           0.2  iris_setosa
1           4.9          3.0           1.4           0.2  iris_setosa
2           4.7          3.2           1.3           0.2  iris_setosa
3           4.6          3.1           1.5           0.2  iris_setosa
4           5.0          3.6           1.4           0.2  iris_setosa

In [5]:
type(dataset)

pandas.core.frame.DataFrame

In [6]:
dataset.keys()

Index(['sepal_length', 'sepal_width', 'petal_length', ' petal_width', 'class'], dtype='object')

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3    petal_width  150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
print(dataset["class"])

0         iris_setosa
1         iris_setosa
2         iris_setosa
3         iris_setosa
4         iris_setosa
            ...
145    iris_virginica
146    iris_virginica
147    iris_virginica
148    iris_virginica
149    iris_virginica
Name: class, Length: 150, dtype: object

In [9]:
dataset.describe()

       sepal_length  sepal_width  petal_length   petal_width
count    150.000000   150.000000    150.000000    150.000000
mean       5.843333     3.054000      3.758667      1.198667
std        0.828066     0.433594      1.764420      0.763161
min        4.300000     2.000000      1.000000      0.100000
25%        5.100000     2.800000      1.600000      0.300000
50%        5.800000     3.000000      4.350000      1.300000
75%        6.400000     3.300000      5.100000      1.800000
max        7.900000     4.400000      6.900000      2.500000

In [10]:
dataset["class"].value_counts()

iris_virginica     50
iris_versicolor    50
iris_setosa        50
Name: class, dtype: int64

In [11]:
X = dataset.drop(["class"],axis=1)
y = dataset["class"]

In [12]:
print(X.head())

   sepal_length  sepal_width  petal_length   petal_width
0           5.1          3.5           1.4           0.2
1           4.9          3.0           1.4           0.2
2           4.7          3.2           1.3           0.2
3           4.6          3.1           1.5           0.2
4           5.0          3.6           1.4           0.2

In [13]:
print(y.head())

0    iris_setosa
1    iris_setosa
2    iris_setosa
3    iris_setosa
4    iris_setosa
Name: class, dtype: object

In [14]:
print(X.shape)

(150, 4)

In [15]:
print(y.shape)

(150,)

In [16]:
#chosing the model
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [17]:
#before spliting accuracy of prediction 
logreg = LogisticRegression()
logreg.fit(X, y)
y_pred = logreg.predict(X)
print(metrics.accuracy_score(y, y_pred))

0.9733333333333334

In [18]:
#after splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(90, 4)
(90,)
(60, 4)
(60,)

In [19]:
#accuracy of prediction after spliting
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.9833333333333333

In [20]:
#after splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.375, random_state=5)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(93, 4)
(93,)
(57, 4)
(57,)

In [21]:
#accuracy of prediction after spliting
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
print(metrics.accuracy_score(y_test, y_pred))

0.9824561403508771